/*
 * style.css
 */
.container, .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #f9f9f9;
}

.row {
    margin-bottom: 20px;
}

[class*="col-"], header, footer, aside, section, div[role="main"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f5f5f5;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
    text-align: center;
}

div[role="main"] {
    background-color: #fff;
}

div[role="main"], aside {
    min-height: 600px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-group {
    text-align: left;
    background-color: #f5f5f5;
    border: none;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

header {
    background-color: #f8f8f8;
    color: #000000;
}

nav {
    background-color: transparent;


}

footer.row {
    background-color: #009688;
    color: #ffffff;
    padding-bottom: 0px;
    padding-top: 0px;
}
.navbar-default{
    border-color: transparent;

}

ul li a{
   color: #000;
}

header{
    background-color: #009688;
}